src/main/mule/indigouri.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="indigouriFlow" doc:id="c216e088-d696-43ee-b127-63462f32ed7a" >
		<logger level="INFO" doc:name="Logger" doc:id="935273d5-581f-45c3-9034-88ab989ae7ad" message="#[attributes.uriParams]"/>
		<http:request method="GET" doc:name="Request" doc:id="d403f6c7-e690-4866-a06d-4be74f96fdaa" config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:body ><![CDATA[payload]]></http:body>
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.uriParams.source,
	to : attributes.uriParams.destination,
	depatureDate : attributes.uriParams.doj
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="3fe64b01-efbb-43a4-baa5-1c0c965dbc82" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fcbb40bf-6f36-48ce-9079-3afea11a3814" message="#[payload]"/>
	</flow>
</mule>
